In [15]:
import psycopg2
import pandas as pd

# Replace these parameters with your actual database credentials
db_user = "postgres"
db_password = "postgres" #Use your own password
db_host = "localhost"  # Usually "localhost" if running locally
db_port = "5432"  # Default is 5432

connection = psycopg2.connect(
    user=db_user,
    password=db_password,
    host=db_host,
    port=db_port,
    database = "db_NGC5"
)

In [22]:
query = "select * from Customers"

cursor = connection.cursor () #supaya bisa execute harus bikin kursor di py
cursor.execute (query)

 # menampilkan hasil select
rows = cursor.fetchall() #hasilnya berupa list of tuple
for row in rows:
    print(row) 


cursor. close ()

(1, 'John Doe', 'New York')
(2, 'Jane Smith', 'Los Angeles')
(3, 'David Johnson', 'Chicago')

In [23]:
query = "select * from Orders"

cursor = connection.cursor () #supaya bisa execute harus bikin kursor di py
cursor.execute (query)

  # menampilkan hasil select
df = pd.read_sql(query, connection) #menampilkan dalam hasil tabel

print(df.to_string(index=False)) 


cursor. close ()

 order_id  customer_id order_date  total_amount
        1            1 2022-01-10         100.0
        2            1 2022-02-05         150.0
        3            2 2022-03-20         200.0
        4            3 2022-04-25          50.0

C:\Users\WANDA\AppData\Local\Temp\ipykernel_6328\3820010445.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection) #menampilkan dalam hasil tabel

In [20]:
query = "select customer_name, count (order_id) as total_orders from Orders join Customers on Customers.customer_id = Orders.customer_id group by customer_name order by 1 desc"

cursor = connection.cursor () #supaya bisa execute harus bikin kursor di py

cursor.execute (query)

  # menampilkan hasil select
df = pd.read_sql(query, connection) #menampilkan dalam hasil tabel

print(df.to_string(index=False))


cursor. close ()

customer_name  total_orders
     John Doe             2
   Jane Smith             1
David Johnson             1

C:\Users\WANDA\AppData\Local\Temp\ipykernel_6328\3138448165.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection) #menampilkan dalam hasil tabel